<!doctype html>
<html>
	<head>
		<title> Express with Handlebars </title>
		<style>
			header{
			backgroung-color: #7E8AA2;
			padding: 1em;
			}
		<style>
		</head>
		<body>
			<header><h1>My Site</h1></header>

			{{{body}}}

		</body>

	</html>