<!DOCTYPE HTML> 
<html>
<head>
<title> Week 7</title>
<link rel="stylesheet" type="text/css" href="7.css">
<script src="app7.js"></script>
</head>
<body>
<header>
<h1> Megan's Work </h1>
<nav>
	<ul>
	<li><a>SnapChats</a></li>
	<li><a>Videos</a></li>
	<li><a>Graphics</a></li>
	<li><a>Resume</a></li>
	</ul>
</nav>

</header>
<div class ="content">

	{{{ body }}}

</div>

<footer> Contact me at mhmeluskey@gmail.com</footer>
</body>